
.post-score {
  display: none;
  margin: 25px 0;
}

.title {
  color: #FFF;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.gameover {
  color: red;
  font-size: 36px;
}

.game-window {
  border: 2px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-window > .node {
  background-color: #000;
}

.footer-debug {
  margin-top: 10px;
}

.coords {
  color: #FFF;
  display: inline;
}

i {
  color: #FFF;
  padding: 5px 10px;
  cursor: pointer;
}

i:hover {
  color: rgb(218, 191, 41);
}


.game {
  display: flex;
}

.game > .buttons-container {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.leaderboard-node {
  border: 1px solid #FFF;
  text-align: center;
  padding: 3px;
}

.fruit {
  background-color: #f70808;
  border-radius: 10px;
}

.snakehead {
  background-color: #779327;
}

.snake {
  background-color: #9ec13b;
}

.leaderboard {
  margin-top: 15px;
  width: 500px;
}
